<!-- calendar -->

<div class="calendar">
  <div class="calendar__opts">
    <select name="calendar__month" id="calendar__month">
      <option>1月</option>
      <option>2月</option>
      <option>3月</option>
      <option>4月</option>
      <option>5月</option>
      <option selected>6月</option>
      <option>7月</option>
      <option>8月</option>
      <option>9月</option>
      <option>10月</option>
      <option>11月</option>
      <option></option>
    </select>

    <select name="calendar__year" id="calendar__year">
      <option>2017</option>
      <option>2018</option>
      <option>2019</option>
      <option>2020</option>
      <option>2021</option>
      <option selected>2022</option>
      <option>2023</option>
      <option>2024</option>
    </select>
  </div>

  <div class="calendar__body">
    <div class="calendar__days">
      <div>月</div>
      <div>火</div>
      <div>水</div>
      <div>木</div>
      <div>金</div>
      <div>土</div>
      <div>日</div>
    </div>

    <div class="calendar__dates">
      <div class="calendar__date calendar__date--grey"><span>27</span></div>
      <div class="calendar__date calendar__date--grey"><span>28</span></div>
      <div class="calendar__date calendar__date--grey"><span>29</span></div>
      <div class="calendar__date calendar__date--grey"><span>30</span></div>
      <div class="calendar__date"><span>1</span></div>
      <div class="calendar__date"><span>2</span></div>
      <div class="calendar__date"><span>3</span></div>
      <div class="calendar__date"><span>4</span></div>
      <div class="calendar__date"><span>5</span></div>
      <div class="calendar__date"><span>6</span></div>
      <div class="calendar__date"><span>7</span></div>
      <div class="calendar__date"><span>8</span></div>
      <div class="calendar__date"><span>9</span></div>
      <div class="calendar__date calendar__date--selected"><span>10</span></div>
      <div class="calendar__date"><span>11</span></div>
      <div class="calendar__date"><span>12</span></div>
      <div class="calendar__date"><span>13</span></div>
      <div class="calendar__date"><span>14</span></div>
      <div class="calendar__date"><span>15</span></div>
      <div class="calendar__date"><span>16</span></div>
      <div class="calendar__date"><span>17</span></div>
      <div class="calendar__date"><span>18</span></div>
      <div class="calendar__date"><span>19</span></div>
      <div class="calendar__date"><span>20</span></div>
      <div class="calendar__date"><span>21</span></div>
      <div class="calendar__date"><span>22</span></div>
      <div class="calendar__date"><span>23</span></div>
      <div class="calendar__date"><span>24</span></div>
      <div class="calendar__date"><span>25</span></div>
      <div class="calendar__date"><span>26</span></div>
      <div class="calendar__date"><span>27</span></div>
      <div class="calendar__date"><span>28</span></div>
      <div class="calendar__date"><span>29</span></div>
      <div class="calendar__date"><span>30</span></div>
      <div class="calendar__date"><span>31</span></div>
    </div>
  </div>

  <div class="calendar__buttons">
    <button class="calendar__button calendar__button--grey">Back</button>

    <button class="calendar__button calendar__button--primary">Apply</button>
  </div>
</div>
<!-- calendar -->

<!-- training records -->
<h1>トレーニングの内容を記録</h1>
<div style="width: 600px;">
  <canvas id="records" width="600" height="300"></canvas>
</div>
<hr />

<script>
//折れ線グラフ
        var ctx = $('#records');
        var mychart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    '2022/6/5',
                    '2022/6/6',
                    '2022/6/7',
                    '2022/6/8',
                    '2022/6/9',
                ],
                datasets: [{
                    label: '胸',
                    data: [
                        50,55,52,60,62.5
                    ],
                    borderColor: 'red',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                },{
                    label: '背中',
                    data: [
                        20,25,30,32.5,35
                    ],
                    borderColor:'blue',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                },{
                  label: 'お腹',
                    data: [
                        15,17.5,22.5,25,27.5
                    ],
                    borderColor:'yellow',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                },{
                  label: 'お尻',
                    data: [
                        70,80,82.5,87.5,85
                    ],
                    borderColor:'green',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                },{
                  label: '脚',
                    data: [
                        80,87.5,90,110.5,130
                    ],
                    borderColor:'purple',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                },{
                  label: '脹脛',
                    data: [
                        40,42.5,37.5,47.5,50
                    ],
                    borderColor:'orange',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                }
                ]
            },
            options: {
                title: {
                    responsive: true,
                    display: true,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMax: 300,
                            suggestedMin: 0,
                            stepSize: 0,
                            callback: function(value, index, values){
                                return  value +  'kg'
                            }
                        },
                    }]
                }
            }
        });
</script>

<!-- training records -->

<!-- body weight(pie chart) -->
<h1>体組成（円グラフ）</h1>
<div style="width: 300px;">
  <canvas id="chart" width="150" height="150"></canvas>
</div>
<script>
var ctx = $('#chart');
var mychart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [
            '体脂肪量',
            '筋肉量',
            '水分量',
        ],
        datasets: [{
            data: [
                12,
                77,
                15,
            ],
            backgroundColor: [
                'rgba(241, 107, 141, 1)',
                'rgba( 31, 167, 165, 1)',
                'rgba(249, 199,  83, 1)',
            ]
        }]
    },
    options: {
        legend: {
            position: 'bottom',
        },
        scales: {
            yAxes: [{
                ticks: {
                    responsive: true,
                    display: false,
                    beginAtZero: true,
                },
                gridLines: {
                    display: false
                }
            }]
        }
    }
});
</script>
<!-- body weight(pie chart) -->

<!-- body weight -->
<h1>日々の体組成を記録</h1>
<div style="width: 600px;">
  <canvas id="Body" width="600" height="300"></canvas>
</div>
<hr />

<script>
//折れ線グラフ
var ctx = $('#Body');
        var mychart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    '2022/6/5',
                    '2022/6/6',
                    '2022/6/7',
                    '2022/6/8',
                    '2022/6/9',
                ],
                datasets: [{
                    label: '体重',
                    data: [
                        67,70,73,75,80
                    ],
                    borderColor: 'red',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                },{
                    label: '体脂肪量',
                    data: [
                        20,15,12,11.5,9
                    ],
                    borderColor:'blue',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                },{
                  label: '筋肉量',
                    data: [
                        60,65,67,72.5,77.5
                    ],
                    borderColor:'purple',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                },]
            },
            options: {
                title: {
                    responsive: true,
                    display: true,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMax: 150,
                            suggestedMin: 0,
                            stepSize: 0,
                            callback: function(value, index, values){
                                return  value +  'kg'
                            }
                        },
                    }]
                }
            }
        });
</script>

<!-- body weight -->