/* スマホ用のcssを記述------------------------------------------------ */
@media screen and (min-width:480px) {
  .second-header {
    width: 100%;
    min-width: 800px;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-logo {
    width: 100%;
    height: 50px;
  }
}

@media screen and (min-width:768px) and ( max-width:1024px) {
  .second-header {
    width: 100%;
    min-width: 800px;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-logo {
    width: 100%;
    height: 50px;
  }
}

@media screen and (min-width:1024px) {
  .second-header {
    width: 100%;
    min-width: 800px;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-logo {
    width: 100%;
    height: 50px;
  }
}

/* tablet用のcssを記述------------------------------------------------ */
@media only screen and (min-width:480px) and (max-width:950px) {
  .second-header {
    width: 100%;
    min-width: 800px;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-logo {
    width: 100%;
    height: 50px;
  }
}

/* PC用のcssを記述------------------------------------------------ */
@media screen and (max-width: 1024px) {
  .second-header {
    width: 100%;
    min-width: 800px;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-logo {
    width: 100%;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .second-header {
    width: 100%;
    min-width: 800px;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-logo {
    width: 100%;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .second-header {
    width: 100%;
    min-width: 800px;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-logo {
    width: 100%;
    height: 50px;
  }
}

@media screen and (max-width: 320px) {
  .second-header {
    width: 100%;
    min-width: 800px;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-logo {
    width: 100%;
    height: 50px;
  }
}