<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    今何かを変えることでこの先に広がる何かを変える
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
      <div class="footer-widget-box list">
        <h4 class="footer-widget-title">メールマガジン</h4>
        <div class="footer-newsletter">
          <p>メールマガジンの登録をすると最新のコラム情報をお届けします</p>
          <div class="subscribe-form">
            <form>
                <input type="email" class="form-control" placeholder="Your Email">
                <button class="theme-btn" type="submit">
                  <i class="far fa-paper-plane"></i> 登録する
                </button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-widget-box list">
        <h4 class="footer-widget-title">Quick Links</h4>
        <ul class="footer-list">
          <li><a href="#"><i class="fas fa-caret-right"></i> 会社概要（運営会社）</a></li>
          <li><a href="privacy_policy.html"><i class="fas fa-caret-right"></i> プライバシーポリシー</a></li>
          <li><a href="regulation.html"><i class="fas fa-caret-right"></i> 利用規約</a></li>
        </ul>
      </div>
      <div class="footer-widget-box">
        <h4 class="footer-widget-title">お問い合わせ方法</h4>
        <ul class="footer-contact">
          <li><a href="mailto:highflyergym@gmail.com"><i class="far fa-envelope"></i>abcd.1234@gmail.com</a>
          </li>
          <li><i class="far fa-clock"></i>Mon - sat(08AM - 10PM)</li>
        </ul>
      </div>
    </div>
      <div class="footer-widget-box about-us">
        <a href="#" class="footer-logo">
          <img src="will.icon.logo.png" alt="">
        </a>
      </div>
  </div>
</div>