// スマホ用のcssを記述------------------------------------------------
@media screen and (min-width:480px) {
  .contact{
    padding: 0 15% 0 15%;
  
  }
  .contact_header{
    background-color: rgba(0,0,0,0.01)
  }
  .input{
    width: 25%;
  }
  .input_claim{
    width: 50%;
  }
}

@media screen and (min-width:768px) and ( max-width:1024px) {
  .contact{
    padding: 0 15% 0 15%;
  
  }
  .contact_header{
    background-color: rgba(0,0,0,0.01)
  }
  .input{
    width: 25%;
  }
  .input_claim{
    width: 50%;
  }
}

@media screen and (min-width:1024px) {
  .contact{
    padding: 0 15% 0 15%;
  
  }
  .contact_header{
    background-color: rgba(0,0,0,0.01)
  }
  .input{
    width: 25%;
  }
  .input_claim{
    width: 50%;
  }
}

// tablet用のcssを記述------------------------------------------------
@media only screen and (min-width:480px) and (max-width:950px) {
  .contact{
    padding: 0 15% 0 15%;
  
  }
  .contact_header{
    background-color: rgba(0,0,0,0.01)
  }
  .input{
    width: 25%;
  }
  .input_claim{
    width: 50%;
  }
}

// PC用のcssを記述------------------------------------------------
@media screen and (max-width: 1024px) {
  .contact{
    padding: 0 15% 0 15%;
  
  }
  .contact_header{
    background-color: rgba(0,0,0,0.01)
  }
  .input{
    width: 25%;
  }
  .input_claim{
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .contact{
    padding: 0 15% 0 15%;
  
  }
  .contact_header{
    background-color: rgba(0,0,0,0.01)
  }
  .input{
    width: 25%;
  }
  .input_claim{
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .contact{
    padding: 0 15% 0 15%;
  
  }
  .contact_header{
    background-color: rgba(0,0,0,0.01)
  }
  .input{
    width: 25%;
  }
  .input_claim{
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  .contact{
    padding: 0 15% 0 15%;
  
  }
  .contact_header{
    background-color: rgba(0,0,0,0.01)
  }
  .input{
    width: 25%;
  }
  .input_claim{
    width: 50%;
  }
}