<%# 管理者者情報ページ %>
<div class="row no-gutters">
  <div class="col-2 sidebar border_right"></div>
  <div class="col-8">
    <div class="adimin_info_header text_align_center fontsize_20 padding_top padding_bottom border_top border_bottom">
      <p class="margin_bottom_0"></p>
      <div class="admin_info_content text_align_center fontsize_25 padding_top">
      <p>Sorry!     Coming Soon....</p>
      </div>
    </div>
    <div class="col-2 sidebar border_left"></div>
  </div>
</div>